<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption row">
    <div class="col-md-12">
        <h2 class="headerTitle">What you should do</h2>
    </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
    <div class="col-md-1">
      &nbsp;
    </div>
    <div id="faqInfoItems" name="faqInfoItems" class="col-md-10">
	    <div class="panel-group" id="accordion">
	        <div class="panel panel-default">
		        <div class="panel-heading">
		            <h4 class="panel-title">
		              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
		                First Steps              
		              </a>
		            </h4>
		        </div>
		        <div id="collapseOne" class="panel-collapse collapse">
		            <div class="panel-body">
		                <p>
						<ul class="accidentList">
						  <li>Remain calm</li>
						  <li>Get to a safe place</li>
						  <li>Check for injuries</li>
						  <li>Administer First Aid</li>
						  <li>Call police/EMT</li>
						</ul> 
		                </p>
		            </div>
		         </div>
	        </div> <!-- end of panel -->

	        <div class="panel panel-default">
	            <div class="panel-heading">
		            <h4 class="panel-title">
		              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
		                Do not say
		              </a>
		            </h4>
	          	</div>
	          	<div id="collapseTwo" class="panel-collapse collapse">
		            <div class="panel-body">
		                <p>
						<ul class="accidentList">
						  <li>It’s all my fault, (even if it is).</li>
						  <li>My insurance will pay for everything.</li>
						  <li>It’s OK, I have full coverage.</li>
						</ul> 
		                </p>
			        </div>
			    </div>    
	        </div> <!-- end of panel -->

	        <div class="panel panel-default">
	            <div class="panel-heading">
		            <h4 class="panel-title">
		              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
		                 While Still At the Scene
		             </a>
		            </h4>
		        </div>
		        <div id="collapseThree" class="panel-collapse collapse">
		            <div class="panel-body">
		            	<p>
		            	<ul class="accidentList">
						  <li>Get as much information as possible on this report.</li>
						  <li>When the police come, cooperate and tell them what you know.</li>
						  <li>Take Pictures, Take Pictures, Take Pictures</li>
						</ul>
		            	</p>
		            </div>
	          	</div>
	        </div> <!-- end of panel -->
        </div> <!-- end of panel group -->
    </div> <!-- end of col-8 -->
    <div class="col-md-1">
      &nbsp;
    </div>
</div> <!-- end of row -->  