<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption row">
    <div class="col-md-12">
        <h2 class="headerTitle">Frequently Answered Questions</h2>
    </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
    <div class="col-md-1">
      &nbsp;
    </div>
    <div id="faqInfoItems" name="faqInfoItems" class="col-md-10">
      <div class="panel-group" id="accordion">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                How do I login to MYRV?              
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              Click on the MYRV logo on the top left of the desktop webpage to get to the MYRV home page. On the left side you should see a blue button that says Login (or Logoff). Click on the Button and you will be taken to the Login page. For mobile devices the Login (or Logoff) Button is displayed prominently at the bottom of the page. Once you are logged in you should see your Avatar on the top left of the Desktop navigation menu or at the very bottom of the mobile version.
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                How do I capture a Gas Fill, Special Event, Overnight Stay, Restaurant, Friend, Service or Accident?
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              On the Desktop webpage click on the <span style="font-weight:700;color:teal">Capture</span> selection. Once clicked it will display a list of capture-able events. On the mobile version click on the large <span style="font-weight:700;color:teal">Capture</span> button and a list of capture-able events will be displayed. All captured events are linked to Trips.
              </p>
              <p>
                Once initiated, details for the selected capture-able event will be displayed. Simply enter and <span style="font-weight:700;color:teal">Save</span>
              </p>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                 How do I Manage a Gas Fill, Special Event, Overnight Stay, Restaurant, Friend, Service or Accident after it has been Captured?
             </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              On the Desktop webpage click on the <span style="font-weight:700;color:teal">Manage</span> selection. Once clicked it will display a list of manageable events. On the mobile version click on the large <span style="font-weight:700;color:teal">Manage</span> button and a list of manageable events will be displayed. All managed events are linked to Trips.
              </p>
              <p>
                Once a manageable event is selected, a list of those event details will be displayed associated with a selectable trip. To manage a detail from one of the list items  - click on the item in the list and details associated with that selection will be displayed.
              </p>
              <p>
                From here you can <span style="font-weight:700;color:teal">Update</span>, <span style="font-weight:700;color:teal">Add</span> or <span style="font-weight:700;color:teal">Delete</span> a detail. When adding a new detail be sure to hit the <span style="font-weight:700;color:teal">Clear</span> button first.
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                 How do I View a Gas Fill, Special Event, Overnight Stay, Restaurant, Friend, Service or Accident after it has been Captured?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                On the Desktop webpage click on the <span style="font-weight:700;color:teal">View</span> selection. Once clicked it will display a list of viewable events. On the mobile version click on the large <span style="font-weight:700;color:teal">View</span> button and a list of viewable events will be displayed. All viewed events are linked to Trips.
              </p>
               <p>
                Once a viewable event is selected, a list of those event details will be displayed associated with a selectable trip. To view a detail from one of the list items  - click on the item in the list and a detail page will be displayed.
              </p>
              <p>
                There is no update capability with View.
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
                 Can I export data for my own use?
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                You can export any of the Capture-able details to a csv file which can be read and managed by Excel or Macos Numbers. On the Desktop webpage click on the <span style="font-weight:700;color:teal">View</span> selection. Once clicked it will display a list of viewable events. On the mobile version click on the large <span style="font-weight:700;color:teal">View</span> button and a list of viewable events will be displayed.
              </p>
              <p>
                Once a viewable event is selected, a list of those event details will be displayed associated with a selectable trip. To export trip detail for the selected details - click on the export button.
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix">
                What is the Current Snapshot?
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              All information is Trip-centric. When you set a trip as active (only one trip can be active), it will come up as default trip selection especially for <span style="font-weight:700;color:teal">Capture</span> selections.
              </p>
              <p>
              The <span style="font-weight:700;color:teal">Current Snapshot</span> shows information from your active trip.
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven">
                I want to change my Avatar. How can I do that?
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              Send us an image that you want to replace your avatar with. We will size it to fit into our scheme and let you know when it is active.   
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEight">
                How can I change my information like my password, address, bio etc?
              </a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              After you are logged in select your avatar at the top right of the desktop web page. On the mobile version the Avatar is at the bottom of the page. Clicking on this will bring you to a page where you can update your personal information.               
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseNine">
                How can I use my phone or other mobile device to use MYRV?
              </a>
            </h4>
          </div>
          <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              We have a mobile version of MYRV. You can get to it by clicking <a href="http://myrv.xyz">myrv.xyz</a>               
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTen">How can I contact you if I have any questions?
              </a>
            </h4>
          </div>
          <div id="collapseTen" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              You can reach me by clicking on the <span style="font-weight:700;color:teal">Feedback</span> icon at the bottom of the either the desktop or mobile version. There is also a email link on the bottom of the desktop version.             
              </p>
    
            </div> <!-- end of panel body -->
          </div>
        </div> <!-- end of panel -->
      </div> <!-- end of panel group -->
    </div> <!-- end of col-8 -->
    <div class="col-md-1">
      &nbsp;
    </div>
</div> <!-- end of row -->  

<!-- dialogs -->
<div class="modal fade" id="iformationDialogModal" tabindex="-1" role="dialog" aria-labelledby="iformationDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="iformationDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="iformationDialogModalLabelBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="closeModalCleanUp()" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  