<div class="container">

	<div class="pageNavbarOffset">&nbsp;</div>

	<div style="padding-top:10px;">&nbsp;</div>

	<div id="navbarButtons">
		<div style="background-color:#F6F59B;text-align:left;" class="btn btn-info btn-lg active btn-block" id="myrvcaptureheading">
			<a style="text-decoration:none;" data-toggle="collapse" data-parent="#navbarButtons" data-target="#myrvcapture" class="collapsed" aria-expanded="false">
			<img style="vertical-align:middle;height:40px;display:inline;" class="" src="../img/buttons/myrvaction.png"><span style="padding-left:15px;">Capture&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</a>
		</div> <!-- end of button -->

		<div id="myrvcapture" class="collapse" aria-expanded="false" style="height:0px;">
			<a href="#/gastripentry" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Gas Fill</a>
			<a href="#/evententry" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Special Event</a>
			<a href="#/foodentry" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Restaurant</a>
			<a href="#/overnightentry" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Overnight</a>
			<a href="#/friendentry" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Friend</a>
			<a href="#/overnightentry" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Service</a>
			<a href="#/accidentcapture" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Accident</a>

		</div> <!-- end of panel collapse -->

		<div id="navbarButtons">
		<div style="background-color:#F6F59B;text-align:left;" class="btn btn-info btn-lg active btn-block" id="myrvsnapshotheading">
			<a style="text-decoration:none;" data-parent="#navbarButtons" href="#myrvsnapshot" class="" aria-expanded="false">

			<a style="text-decoration:none;" data-toggle="collapse" data-parent="#navbarButtons" data-target="#myrvsnapshot" class="collapsed" aria-expanded="false">
			<img style="vertical-align:middle;height:40px;display:inline;" class="" src="../img/buttons/myrvaction.png"><span style="padding-left:15px;">Snapshot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</a>
		</div> <!-- end of button -->

		<div style="background-color:#F6F59B;text-align:left;" class="btn btn-info btn-lg active btn-block" id="myrvviewheading">
				<a style="text-decoration:none;" data-toggle="collapse" data-parent="#navbarButtons" data-target="#myrvview" class="" aria-expanded="false">
				<img style="vertical-align:middle;height:40px;display:inline;" class="" src="../img/buttons/myrvview.png"><span style="padding-left:15px;">View&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</a>
		</div> <!-- end of button -->

		<div id="myrvview" class="collapse">
			<a href="#/memberviewmember" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Member</a>
			<a href="#/memberviewtrips" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Trips</a>
			<a href="#/memberviewgas" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Gas Fill Entries</a>
			<a href="#/memberviewevents" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Special Event Entries</a>
			<a href="#/memberviewfoods" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Restaurant Entries</a>
			<a href="#/memberviewovernights" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Overnight Stay Entries</a>
			<a href="#/memberviewfriends" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Total Friend Find Entries</a>
			<a href="#/memberviewrvmembership" class="btn btn-info btn-lg active btn-block left-column-text" role="button">RV Memberships</a>
			<a href="#/memberviewvehiclerv" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Vehicles</a>
			<a href="#/memberviewvehicleinsurance" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Insurance</a>
			<a href="#/viewvehicleservice" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Service</a>
			<a href="#/memberviewvehicleroadsideassistance" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Roadside Assistance</a>


		</div> <!-- end of panel collapse -->

		<div style="background-color:#F6F59B;text-align:left;" class="btn btn-info btn-lg active btn-block" id="myrvmanageheading">
				<a style="text-decoration:none;" data-toggle="collapse" data-parent="#navbarButtons" data-target="#myrvmanage" class="collapsed" aria-expanded="false">
				<img style="vertical-align:middle;height:40px;display:inline;" class="" src="../img/buttons/myrvsetup.png"><span style="padding-left:15px;">Manage&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</a>
		</div> <!-- end of button -->

		<div id="myrvmanage" class="collapse" aria-expanded="false">
			<a href="#/membermanagemember" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Member</a>
			<a href="#/membermanagetrip" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Trips</a>
			<a href="#/membermanagegas" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Gas Fill Entries</a>
			<a href="#/membermanageevent" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Special Event Entries</a>
			<a href="#/membermanagefood" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Restaurant Entries</a>
			<a href="#/membermanageovernight" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Overnight Stay Entries</a>
			<a href="#/membermanagefriend" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Total Friend Find Entries</a>
			<a href="#/membermanagervmembership" class="btn btn-info btn-lg active btn-block left-column-text" role="button">RV Memberships</a>
			<a href="#/membermanagevehiclerv" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Vehicles</a>
			<a href="#/membermanagevehicleinsurance" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Insurance</a>
			<a href="#/membermanagevehicleservice" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Service</a>
			<a href="#/membermanagevehicleroadsideassistance" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Roadside Assistance</a>
		</div> <!-- end of panel collapse -->

		<div style="padding-top:50px;"></div>

		<a href="" id="menubarlogin" name="menubarlogin" ng-click="loginlogoff()" class="btn btn-danger btn-lg active btn-block" role="button">Login</a>

		<div style="padding-top:20px;">&nbsp;</div>
	</div>
</div> <!-- end of container -->


<!-- dialogs -->
<div class="modal fade" id="homePicShowModal" tabindex="-1" role="dialog" aria-labelledby="homePicShowModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 id="homePicShowModalTitle" class="modal-title" style="font-family:'ChopinScript',serif;font-size:28px;color:red;text-align:center" id="homePicModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="homePicModalBody">
        	<img ng-src={{showPictureSrc}} style="width:100%;text-align:center;" alt="Thank you Lord for all that we have!">
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
    