<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption row">
    <div class="col-md-12">
        <h2 class="headerTitle">View Vehicle & RV Information</h2>
    </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
    <div class="col-md-12">
        <div style="margin:5px;width:100%;" class="form-inline">
            <label style="text-align:left;padding-right:15px;" for="membervehicle">Your Vehicles</label>
            <select tabindex="1" style="width:60%;" class="form-control "
             ng-change="getMemberVehicle(id)" 
             ng-model="id" id="membervehicle" name="membervehicle">
                <!-- <option value="0">Not Selected</option> -->
                <option ng-repeat="vehicle in membervehicles" ng-selected="current.vehicleid == vehicle.id" value="{{vehicle.id}}">{{vehicle.vehicltype}} {{vehicle.make}} {{vehicle.model}} {{vehicle.color}} {{vehicle.year}} {{vehicle.platenbr}}</option>
            </select>
        </div> <!-- end of form-inline -->
    </div> <!-- end of 12 -->
</div><!-- end of row -->


<div style="margin:5px;" class="row">
    <form id="memberviewvehicleForm" name="memberviewvehicleForm" style="padding:5px;">
    <div class="panel panel-default form-horizontal col-md-12">
        <div class="col-md-12">
            <div style="padding-top:15px;" class="form-group" >
                <label for="vehicletype" class="col-md-4 control-label">Vehicle Type</label>
                <div class="col-md-6">
                    <input readonly tabindex="2" type="text" class="form-control" ng-model="current.vehicle.vehicletype" id="vehicletype" name="vehicletype" >
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="make" class="col-md-4 control-label">Make</label>
                <div class="col-md-6">
                    <input readonly tabindex="2" type="text" class="form-control" ng-model="current.vehicle.make" id="make" name="make" >
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="model" class="col-md-4 control-label">Model</label>
                <div class="col-md-6">
                    <input readonly tabindex="3" type="text" class="form-control" ng-model="current.vehicle.model" id="model" name="model">
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="color" class="col-md-4 control-label">Color</label>
                <div class="col-md-6">
                    <input readonly tabindex="4" type="text" class="form-control" ng-model="current.vehicle.color" id="color" name="color">
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="year" class="col-md-4 control-label">Year</label>
                <div class="col-md-6">
                    <input readonly tabindex="5" type="text" class="form-control" ng-model="current.vehicle.year" id="year" name="year">
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="platenbr" class="col-md-4 control-label">Plate Number</label>
                <div class="col-md-6">
                    <input readonly tabindex="6" type="text" class="form-control" ng-model="current.vehicle.platenbr" id="platenbr" name="platenbr" >
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="platestate" class="col-md-4 control-label">Plate State</label>
                <div class="col-md-6">
                    <input readonly tabindex="7" type="text" class="form-control" ng-model="current.vehicle.platestate" id="platestate" name="platestate" >
                </div>
            </div> <!-- end of form-group -->
                
            <!-- <div class="panel panel-default form-horizontal"> -->
            <div class="form-group">
                <label for="VIN" class="col-md-4 control-label">VIN</label>
                <div class="col-md-6">
                    <input readonly tabindex="8" type="text" class="form-control" ng-model="current.vehicle.VIN" id="VIN" name="VIN" >
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="tirenumber" class="col-md-4 control-label">Tire number</label>
                <div class="col-md-4">
                    <input readonly tabindex="9" type="text" class="form-control" ng-model="current.vehicle.tirenumber" id="tirenumber" name="tirenumber" >
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="tiresize" class="col-md-4 control-label">Tire size</label>
                <div class="col-md-4">
                    <input readonly tabindex="10" type="text" class="form-control" ng-model="current.vehicle.tiresize" id="tiresize" name="tiresize" >
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="vehiclelength" class="col-md-4 control-label">Vehicle Length</label>
                <div class="col-md-4">
                    <input readonly tabindex="11" type="text" class="form-control" ng-model="current.vehicle.vehiclelength" id="vehiclelength" name="vehiclelength" >
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="comments" class="col-md-4 control-label">Comments</label>
                <div class="col-md-7">
                    <textarea readonly tabindex="12" class="form-control" ng-model="current.vehicle.comments" id="comments" name="comments" rows="3"></textarea>
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group" >
                <label for="status" class="col-md-4 control-label">Vehicle status</label>
                <div class="col-md-4">
                    <input readonly tabindex="11" type="text" class="form-control" ng-model="current.vehicle.status" id="status" name="status" >
                </div>
            </div> <!-- end of form-group -->
            <!-- </div> end of panel -->
        </div> <!-- end of col 12 -->
    </div> <!-- end of panel   --> 
    </form>   
</div> <!-- end of row --> 

<!-- dialogs -->
<div class="modal fade" id="memberviewVehicleDialogModal" tabindex="-1" role="dialog" aria-labelledby="memberviewVehicleDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="memberviewVehicleDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="memberviewVehicleDialogModalBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
