<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption row">
    <div class="col-md-12">
        <h2 class="headerTitle">Manage RV Memberships</h2>
    </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
    <div class="col-md-12  form-inline">
        <div class="form-group horizontalFieldOffset">
            <label style="font-size:20px;padding-right:10px;" for="memberrvmembership">Your RV Membership</label>
            
            <select tabindex="1" class="form-control" 
            ng-change="getMemberRvMembership(id)" 
            ng-model="id" >
                <option ng-repeat="rvmembership in rvmemberships" value="{{rvmembership.id}}">{{rvmembership.rvmembershipname}}</option>
            </select>
        </div> <!-- end of form-inline -->
    </div> <!-- end of 12 -->
</div><!-- end of row -->

<div style="margin:5px;padding-top:15px;" class="row">
    <form id="membermanagerrvmembershipForm" name="membermanagerrvmembershipForm" style="padding:5px;">
    <div class="panel panel-default form-horizontal col-md-12">
        <div style="padding-top:15px;" class="form-group" >
            <label for="name" class="col-md-5 control-label">RV Membership</label>
            <div class="col-md-7">
                <input tabindex="2" type="text" class="form-control" ng-model="rvmembership.rvmembershipname" id="rvmembershipname" name="rvmembershipname" placeholder="RV Membership Name">
            </div>

            <input type="hidden" value="{{current.memberid}}" id="memberid" name="memberid">
            <input type="hidden" value="{{rvmembership.id}}" id="id" name="id">

        </div> <!-- end of form-group -->

        <div class="form-group">
            <label for="membershipid" class="col-md-5 control-label">Membership ID</label>
            <div class="col-md-7">
                <input tabindex="3" type="text" class="form-control" ng-model="rvmembership.rvmembershipid" id="rvmembershipid" name="rvmembershipid" placeholder="Membership ID">
            </div>
        </div> <!-- end of form-group -->

        <div class="form-group">
            <label for="policyholder" class="col-md-5 control-label">Member name</label>
            <div class="col-md-7">
                <input tabindex="4" type="text" class="form-control" ng-model="rvmembership.rvmembername" id="rvmembername" name="rvmembername" placeholder="Member Name">
            </div>
        </div> <!-- end of form-group -->

        <div class="form-group">
            <label for="expirationdate" class="col-md-5 control-label">Expiration date</label>
            <div class="col-md-5">
                <input tabindex="5" type="text" class="form-control" ng-model="rvmembership.expirationdate" id="expirationdate" name="expirationdate" myrvdatepicker>
            </div>
        </div> <!-- end of form-group -->

        <div class="form-group">
            <label for="membercost" class="col-md-5 control-label">Cost</label>
            <div class="col-md-7">
                <span style="display:inline;" class="input-group-addon" id="basic-addon1">$</span>
                <input style="display:inline;width:70%;" tabindex="6" type="text" class="form-control" ng-model="rvmembership.cost" id="cost" name="cost" placeholder="Cost">
            </div>
        </div> <!-- end of form-group -->

        <div class="form-group">
            <label for="phonenumber" class="col-md-5 control-label">Phone Number</label>
            <div class="col-md-6">
                <input tabindex="7" type="text" class="form-control" ng-model="rvmembership.phonenumber" id="phonenumber" name="phonenumber" placeholder="Phone Number">
            </div>
        </div> <!-- end of form-group -->

        <div style="padding-top:15px;" class="form-group">
            <label for="websiteurl" class="col-md-5 control-label">Website URL</label>
            <div class="col-md-7">
                <input tabindex="8" type="text" class="form-control" ng-model="rvmembership.websiteurl" id="websiteurl" name="websiteurl" placeholder="Website URL">
            </div>
        </div> <!-- end of form-group -->
        
        <div class="form-group">
            <label for="comments" class="col-md-5 control-label">Comments</label>
            <div class="col-md-7">
                <textarea tabindex="9" class="form-control" ng-model="rvmembership.comments" id="comments" name="comments" rows="3"></textarea>
            </div>
        </div> <!-- end of form-group -->

        <div class="form-group" >
            <label for="status" class="col-md-5 control-label">Membership status</label>
            <div class="col-md-4">
                <select tabindex="10" class="form-control" ng-model="rvmembership.status" id="status" name="status" >
                  <option value="Not Selected">Not Selected</option>
                  <option ng-repeat="rvmembershipstatus in rvmembershipstatuses" value="{{rvmembershipstatus.value}}">{{rvmembershipstatus.title}}</option>
                </select>
            </div>
        </div> <!-- end of form-group -->
    </div> <!-- end of panel   --> 
    </form>   
</div> <!-- end of row --> 

<div style="padding-top:15px;margin-left: auto; margin-right: auto;text-align:center;" class="row">
    <button tabindex="11" class="btn btn-info btn-lg" ng-click="updateMemberRVmembership()" id="updateVehiclervmembershipButton">Save</button>

    <span style="padding-left:15px;">&nbsp;</span>

    <button tabindex="12" class="btn btn-danger btn-lg" ng-click="deleteMemberRVmembership()" id="deleteVehiclervmembershipButton">Delete</button>

    <span style="padding-left:15px;">&nbsp;</span>

    <button tabindex="132" class="btn btn-info btn-lg"  ng-click="NewMemberRVmembership()" id="newrvmembershipButton">Add</button>
</div> <!-- end of row --> 

<!-- dialogs -->
<div class="modal fade" id="membermanageRvMembershipDialogModal" tabindex="-1" role="dialog" aria-labelledby="membermanageRvMembershipDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="membermanageRvMembershipDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="membermanageRvMembershipDialogModalBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
