<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption row">
    <div class="col-md-12">
        <h2 class="headerTitle">View RV Memberships</h2>
    </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
    <div class="col-md-12">
        <div style="margin:5px;width:100%;" class="form-inline">
            <label style="text-align:left;padding-right:5px;" for="memberrvmembership">Your RV Membership</label>
            <select tabindex="1"  style="width:60%;" class="form-control " 
            ng-change="getMemberRvMembership(id)" 
            ng-model="id" >
                <option ng-repeat="rvmembership in rvmemberships" value="{{rvmembership.id}}">{{rvmembership.rvmembershipname}}</option>
            </select>
        </div> <!-- end of form-inline -->
    </div> <!-- end of 12 -->
</div><!-- end of row -->

<div style="margin:5px;" class="row pageStandardOffset">
    <form id="memberviewrrvmembershipForm" name="memberviewrrvmembershipForm">
    <div class="panel panel-default form-horizontal col-md-12">
        <div class="col-md-5">
            <div style="padding-top:15px;" class="form-group" >
                <label for="name" class="col-md-5 control-label">RV Membership</label>
                <div class="col-md-12">
                    <input readonly tabindex="2" type="text" class="form-control" ng-model="rvmembership.rvmembershipname" id="rvmembershipname" name="rvmembershipname" >
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="membershipid" class="col-md-5 control-label">Membership ID</label>
                <div class="col-md-7">
                    <input readonly tabindex="3" type="text" class="form-control" ng-model="rvmembership.rvmembershipid" id="rvmembershipid" name="rvmembershipid" >
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="policyholder" class="col-md-5 control-label">Member name</label>
                <div class="col-md-7">
                    <input readonly tabindex="4" type="text" class="form-control" ng-model="rvmembership.rvmembername" id="rvmembername" name="rvmembername" >
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="expirationdate" class="col-md-5 control-label">Expiration date</label>
                <div class="col-md-5">
                    <input readonly tabindex="5" type="text" class="form-control" ng-model="rvmembership.expirationdate" id="expirationdate" name="expirationdate">
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="membercost" class="col-md-5 control-label">Cost</label>
                <div class="col-md-7">
                    <span style="display:inline;" class="input-group-addon" id="basic-addon1">$</span>
                    <input readonly style="display:inline;width:70%;" tabindex="6" type="text" class="form-control" ng-model="rvmembership.cost" id="cost" name="cost" >
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="phonenumber" class="col-md-5 control-label">Phone Number</label>
                <div class="col-md-6">
                    <input readonly tabindex="7" type="text" class="form-control" ng-model="rvmembership.phonenumber" id="phonenumber" name="phonenumber" >
                </div>
            </div> <!-- end of form-group -->

            <div style="padding-top:15px;" class="form-group">
                <label for="websiteurl" class="col-md-5 control-label">Website URL</label>
                <div class="col-md-7">
                    <input readonly tabindex="8" type="text" class="form-control" ng-model="rvmembership.websiteurl" id="websiteurl" name="websiteurl">
                </div>
            </div> <!-- end of form-group -->
            
            <div class="form-group">
                <label for="comments" class="col-md-5 control-label">Comments</label>
                <div class="col-md-7">
                    <textarea readonly tabindex="9" class="form-control" ng-model="rvmembership.comments" id="comments" name="comments" rows="3"></textarea>
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group" >
                <label for="status" class="col-md-5 control-label">Membership status</label>
                <div class="col-md-7">
                    <input readonly tabindex="8" type="text" class="form-control" ng-model="rvmembership.status" id="status" name="status">
                </div>
            </div> <!-- end of form-group -->
        </div> <!-- end of col 12 -->
    </div> <!-- end of panel   --> 
    </form>   
</div> <!-- end of row --> 

<!-- dialogs -->
<div class="modal fade" id="memberviewRvMembershipDialogModal" tabindex="-1" role="dialog" aria-labelledby="memberviewRvMembershipDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="memberviewRvMembershipDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="memberviewRvMembershipDialogModalBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
