<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption row">
    <div class="col-md-12">
        <h2 class="headerTitle">View Food Trip Entries</h2>
    </div> <!-- end of column -->
</div> <!-- end of row -->


<div class="row">
    <div class="col-md-12 form-inline">
        <div class="pageStandardOffset">
            <div ng-if="current.showtable == 1" class="form-group horizontalFieldOffset">
                <div style="display:inline-block">
                    <span class='selectLabel'>Trip</span>
                </div>
                
                <div style="display:inline-block;width:60%;">
                    <select class="customSelect form-control" ng-change="getMemberTripFoodDetails()" ng-model="current.tripid" id="membertrips" name="membertrips">
                        <option ng-repeat="membertrip in membertrips" ng-selected="current.tripid == membertrip.id" value="{{membertrip.id}}">{{membertrip.tripname}}</option>
                    </select>
                </div>
            </div> <!-- end of form-group -->

            <div  ng-if="current.showtable != 1" class="form-group horizontalFieldOffset">
                <div style="padding-top:15px;margin-left: auto; margin-right: auto;text-align:center;">
                    <a  href="" tabindex="100" style="width:150px;" class="btn btn-info" ng-click="hideTripDetail()" id="hideDetailButton">Back to List</a>
                </div> <!-- end of div-->
            </div>  <!-- end of form-group -->
        </div> <!-- end of panelOffset -->
    </div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div ng-if="current.showtable == 1"  style="padding-top:15px;" class="pageStandardOffset row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table exportDataTable entryList" >
                <tr class="tableTitle">
                    <th class="center-column-text">Date</th>  
                    <th class="center-column-text">Time</th>     
                    <th class="center-column-text">Odometer</th> 
                    <th class="center-column-text">Restaurant</th>    
                    <th class="center-column-text">Venue</th>
                    <th class="center-column-text">Address</th>
                    <th class="center-column-text">City</th>  
                    <th class="center-column-text">State</th> 
                    <th class="center-column-text">Zipcode</th>     
                    <th class="center-column-text">Cost</th>    
                    <th class="center-column-text">Website url</th>
                    <th class="center-column-text">eMail</th>
                    <th class="center-column-text">Phone</th> 
                    <th class="center-column-text">Contact</th>  
                    <th class="center-column-text">Comments</th>                        
                </tr>

                <tr ng-repeat="fooddetail in fooddetails" class="notth" ng-click="showTripDetail(fooddetail)">
                    <td class="center-column-text">
                       {{fooddetail.date}}
                    </td>

                    <td class="center-column-text">
                       {{fooddetail.time}}
                    </td>

                    <td class="center-column-text">
                         {{fooddetail.odometer}} 
                    </td>

                    <td class="left-column-text">
                         {{fooddetail.restaurant}} 
                    </td>

                    <td class="left-column-text">
                         {{fooddetail.venue}} 
                    </td>

                    <td class="left-column-text">
                         {{fooddetail.address}} 
                    </td>

                    <td class="left-column-text">
                         {{fooddetail.city}} 
                    </td>

                    <td class="left-column-text">
                       {{fooddetail.state}}
                    </td>

                    <td class="left-column-text">
                       {{fooddetail.zipcode}}
                    </td>

                    <td class="left-column-text">
                        $ {{fooddetail.cost}} 
                    </td>

                    <td class="left-column-text">
                         {{fooddetail.websiteurl}} 
                    </td>

                    <td class="left-column-text">
                         {{fooddetail.email}} 
                    </td>

                    <td class="left-column-text">
                         {{fooddetail.phonenumber}} 
                    </td>

                    <td class="left-column-text">
                       {{fooddetail.contact}}
                    </td>

                    <td class="left-column-text">
                         {{fooddetail.comments}} 
                    </td>
                </tr>
            </table>
        </div> <!-- end of table responsive -->
    </div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div style="margin:5px;padding-top:35px;" ng-if="current.showtable != 1" class="pageStandardOffset row">
    <div class="col-md-12 form-horizontal">
        <div class="pageStandardOffset row">
            <div class="panel panel-success">
                <div class="panel-heading panelTitlelMYRV">
                    Restaurant Detail
                </div> <!-- end of inner pannel heading-->
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Date
                        </div>
                        <div class="col-md-8">
                            <input readonly  tabindex="20" type="text" class="form-control" size="8"  ng-model="current.fooddetail.date" id="date" name="date" />
                      </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Time
                        </div>
                        <div class="col-md-8">
                            <input readonly tabindex="30" type="text" class="form-control" size="8"  ng-model="current.fooddetail.time" id="time" name="time"  />
                        </div>
                    </div> <!-- end of form-group -->

                     <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Restaurant
                        </div>
                        <div class="col-md-8">
                            <input readonly tabindex="40" type="text" class="form-control" ng-model="current.fooddetail.restaurant" id="restaurant" name="restaurant" >
                        </div>
                    </div> <!-- end of form-group -->

                     <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Venue
                        </div>
                        <div class="col-md-8">
                            <input readonly tabindex="50" type="text" class="form-control" ng-model="current.fooddetail.venue" id="venue" name="venue" >
                        </div>
                    </div> <!-- end of form-group -->

                     <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Odometer
                        </div>
                        <div class="col-md-8">
                            <input readonly tabindex="60" type="text"  class="form-control" ng-model="current.fooddetail.odometer" id="odometer" name="odometer" >
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Cost  
                        </div>
                        <div class="col-md-8 form-inline">
                            <!-- <span style="text-align:right;padding-right:4px;">$</span> -->
                            <span style="display:inline;" class="input-group-addon">$</span>
                            <input readonly style="display:inline;width:80%;" tabindex="70" type="text" class="form-control" ng-model="current.fooddetail.cost" id="cost" name="cost">
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Comments
                        </div>
                        <div class="col-md-8 form-inline">
                            <textarea style="display:inline;width:100%;" readonly tabindex="80" class="form-control" ng-model="current.fooddetail.comments" id="comments" name="comments" rows="3"></textarea>
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Address
                        </div>
                        <div class="col-md-8">
                            <input readonly tabindex="90" type="text" class="form-control"  ng-model="current.fooddetail.address" id="address" name="address" >
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            City
                        </div>
                        <div class="col-md-8">
                            <input readonly tabindex="100" type="text" class="form-control"  ng-model="current.fooddetail.city" id="city" name="city" >
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group" >
                        <div class="col-md-4  capture-detail-labels-input">
                            State
                        </div>
                    
                        <div class="col-md-8">
                            <input readonly tabindex="100" type="text" class="form-control"  ng-model="current.fooddetail.state" id="state" name="state" >
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Zip Code
                        </div>
                        <div class="col-md-8">
                            <input readonly tabindex="120" type="text" class="form-control"  ng-model="current.fooddetail.zipcode" id="zipcode" name="zipcode" >
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Website
                        </div>
                        <div class="col-md-8">
                            <input readonly tabindex="130"  type="text" class="form-control" ng-model="current.fooddetail.websiteurl" id="websiteurl" name="websiteurl">
                        </div>
                    </div> <!-- end of form-group -->

                     <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            eMail
                        </div>
                        <div class="col-md-8">
                            <input readonly tabindex="140"  type="text" class="form-control" ng-model="current.fooddetail.email" id="email" name="email">
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Phone
                        </div>
                        <div class="col-md-8">
                            <input readonly tabindex="150"  type="text" class="form-control" ng-model="current.fooddetail.phonenumber" id="phonenumber" name="phonenumber">
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Contact
                        </div>
                        <div class="col-md-8">
                            <input readonly tabindex="160"  type="text" class="form-control" ng-model="current.fooddetail.contact" id="contact" name="contact">
                        </div>
                    </div> <!-- end of form-group -->
                </div>
            </div> <!-- end of panel -->
        </div> <!-- end of pageoffset -->
    </div> <!-- end of col 6 -->
</div> <!-- end of row -->

<form role="form"  method="post" enctype="multipart/form-data" novalidate>
<div ng-if="current.showtable == 1" style="padding-top:15px;" class="pageStandardOffset row">
    <div class="col-md-12">
        <div style="padding-top:15px;padding-bottom:25px;margin-left: auto; margin-right: auto;text-align:center;">
            <a href="{{ downloadurl }}" style="width:60%;" class="btn btn-success" id="exportFoodCaptureButton" >Export CSV</a>
        </div> <!-- end of div-->  
    </div> <!-- end of col 12 -->
</div> <!-- end of row -->
</form>

<!-- dialogs -->
<div class="modal fade" id="memEntryFoodDialogModal" tabindex="-1" role="dialog" aria-labelledby="memEntryFoodDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="memEntryFoodDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="memEntryFoodDialogModalBody">
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
    