<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption row">
    <div class="col-md-12">
        <h2 class="headerTitle">Manage Vehicle Roadside Assistance</h2>
    </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
    <div class="col-md-12">
        <div class="form-group horizontalFieldOffset">
            <label style="text-align:right;padding-right:15px;" for="memberroadsideassistance">Your Roadside Assistance</label>
            
            <select tabindex="1"  style="width:40%;" class="form-control " 
            ng-change="getMemberVehicleRoadsideAssitance(id)" 
            ng-model="id" id="memberroadsideassistance" name="memberroadsideassistance">
                <option ng-repeat="roadsideassistance in roadsideassistances" value="{{roadsideassistance.id}}">{{roadsideassistance.roadsideassistancename}}</option>
            </select>
        </div> <!-- end of form-inline -->
    </div> <!-- end of 12 -->
</div><!-- end of row -->


<div style="margin:5px;padding-top:15px;" class="row">
    <form id="membermanagevehicleroadsideassistanceForm" name="membermanagevehicleroadsideassistanceForm" style="padding:5px;">
    <div class="panel panel-default form-horizontal col-sm-offset-1 col-lg-10">
        <div class="col-md-5">
            <div style="padding-top:15px;" class="form-group" >
                <label for="roadsideassistancename" class="col-md-5 control-label">Roadside Assistant</label>
                <div class="col-md-7">
                    <input tabindex="1" type="text" class="form-control" ng-model="roadsideassistance.roadsideassistancename" id="roadsideassistancename" name="roadsideassistancename" placeholder="Roadside Assistant">
                </div>

                <input type="hidden" value="{{current.memberid}}" id="memberid" name="memberid">
                <input type="hidden" value="{{roadsideassistance.id}}" id="roadsideassistanceid" name="roadsideassistanceid">

            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="polcynumber" class="col-md-5 control-label">Polcy number</label>
                <div class="col-md-7">
                    <input tabindex="2" type="text" class="form-control" ng-model="roadsideassistance.polcynumber" id="polcynumber" name="polcynumber" placeholder="Polcy number">
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="policyholder" class="col-md-5 control-label">Policy holder</label>
                <div class="col-md-7">
                    <input tabindex="3" type="text" class="form-control" ng-model="roadsideassistance.policyholder" id="policyholder" name="policyholder" placeholder="Policy holder">
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="expirationdate" class="col-md-5 control-label">Expiration date</label>
                <div class="col-md-5">
                    <input tabindex="4" type="text" class="form-control" ng-model="roadsideassistance.expirationdate" id="expirationdate" name="expirationdate" myrvdatepicker>
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group">
                <label for="membercost" class="col-md-5 control-label">Cost</label>
                <div class="col-md-7">
                    <!-- <span style="display:inline;">$</span> -->
                    <span style="display:inline;" class="input-group-addon" id="basic-addon1">$</span>
                    <input style="display:inline;width:70%;" tabindex="5" type="text" class="form-control" ng-model="roadsideassistance.cost" id="cost" name="cost" placeholder="Cost">
                </div>
            </div> <!-- end of form-group -->

        </div> <!-- end of col 7 -->

        <div class="col-md-6">

            <div style="padding-top:15px;" class="form-group">
                <label for="emergencyphonenbr" class="col-md-5 control-label">Emergency phone nbr</label>
                <div class="col-md-6">
                    <input tabindex="5" type="text" class="form-control" ng-model="roadsideassistance.emergencyphonenbr" id="emergencyphonenbr" name="emergencyphonenbr" placeholder="Emergency phone nbr">
                </div>
            </div> <!-- end of form-group -->

            <div style="padding-top:15px;" class="form-group">
                <label for="websiteurl" class="col-md-5 control-label">Website URL</label>
                <div class="col-md-7">
                    <input tabindex="5" type="text" class="form-control" ng-model="roadsideassistance.websiteurl" id="websiteurl" name="websiteurl" placeholder="Website URL">
                </div>
            </div> <!-- end of form-group -->
            
            <div class="form-group">
                <label for="comments" class="col-md-5 control-label">Comments</label>
                <div class="col-md-6">
                    <textarea tabindex="6" class="form-control" ng-model="roadsideassistance.comments" id="comments" name="comments" rows="3"></textarea>
                </div>
            </div> <!-- end of form-group -->

            <div class="form-group" >
                <label for="status" class="col-md-5 control-label">Membership status</label>
                <div class="col-md-4">
                    <select tabindex="7" class="form-control" ng-model="roadsideassistance.status" id="status" name="status" >
                      <option value="Not Selected">Not Selected</option>
                      <option ng-repeat="roadsideassistancestatus in roadsideassistancestatuses" value="{{roadsideassistancestatus.value}}">{{roadsideassistancestatus.title}}</option>
                    </select>
                </div>
            </div> <!-- end of form-group -->
        </div> <!-- end of col 4 -->
    </div> <!-- end of panel   --> 

    <div style="" >
        <div class="col-md-12">
            <button tabindex="100" style="width:100%" class="btn btn-success btn-lg" ng-click="updateMemberVehicleRoadsideAssistance()" id="updateButton">Save</button>
        </div>  
        <div style="padding-top:10px;" class="col-md-12">
            <button tabindex="110" style="width:100%" class="btn btn-info btn-lg" ng-click="NewRoadsideAssistance()" id="addButton">New</button>
        </div>  
        <div style="padding-top:10px;padding-bottom:25px;" class="col-md-12">
            <button tabindex="115" style="width:100%" class="btn btn-danger btn-lg" ng-click="deletememberVehicleRoadsideAssistance()" id="deleteButton">Delete</button>
        </div> <!-- end of col 12 -->
    </div> <!-- end of form-group -->   
    </form>   
</div> <!-- end of row --> 

<!-- dialogs -->
<div class="modal fade" id="membermanageVehicleRoadsideAssistanceDialogModal" tabindex="-1" role="dialog" aria-labelledby="membermanageVehicleRoadsideAssistanceDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="membermanageVehicleRoadsideAssistanceDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="membermanageVehicleRoadsideAssistanceDialogModalBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
