<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption row">
    <div class="col-md-12">
        <h2 class="headerTitle">Mange Restaurant Information</h2>
    </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="pageStandardOffset">
            <div class="form-group horizontalFieldOffset">
                <div style="display:inline-block">
                    <span class='selectLabel'>Trip</span>
                </div>
                
                <div style="display:inline-block;width:60%;">
                    <select class="customSelect form-control" ng-change="getMemberTripFoodDetails()" ng-model="current.tripid" id="membertrips" name="membertrips">
                        <option ng-repeat="membertrip in membertrips" ng-selected="current.tripid == membertrip.id" value="{{membertrip.id}}">{{membertrip.tripname}}</option>
                    </select>
                </div>
            </div> <!-- end of form-group -->
        </div> <!-- end of panelOffset -->
    </div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div style="padding-top:15px;" class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table pickGameTable entryList" >
                <tr class="tableTitle">
                    <th class="center-column-text">Date</th>  
                    <th class="center-column-text">Time</th>     
                    <th class="center-column-text">Restaurant</th>    
                    <th class="center-column-text">Venue</th> 
                    <th class="center-column-text">Odometer</th>     
                    <th class="center-column-text">City</th>
                    <th class="center-column-text">State</th>                    
                </tr>

                <tr ng-repeat="fooddetail in fooddetails" class="notth" ng-click="setCurrentTrip(fooddetail)">
                    <td class="center-column-text">
                       {{fooddetail.date}}
                    </td>

                    <td class="center-column-text">
                       {{fooddetail.time}}
                    </td>

                    <td class="center-column-text">
                         {{fooddetail.restaurant}} 
                    </td>

                    <td class="center-column-text">
                         {{fooddetail.venue}} 
                    </td>

                    <td class="center-column-text">
                         {{fooddetail.odometer}} 
                    </td>

                    <td class="center-column-text">
                       {{fooddetail.city}}
                    </td>

                    <td class="center-column-text">
                       {{fooddetail.state}}
                    </td>
                </tr>
            </table>
        </div> <!-- end of table responsive -->
    </div> <!-- end of col-md-12 form-inline -->
</div> <!-- end of row -->

<div id="viewdetail" style="margin:5px;padding-top:35px;" class="row">
    <div class="col-md-12">
        <form id="memberfooddetailForm" name="memberfooddetailForm" style="" class="form-horizontal">
        <div class="pageStandardOffset row">
            <div class="panel panel-success">
                <div class="panel-heading panelTitlelMYRV">
                    Restaurant Detail
                </div> <!-- end of inner pannel heading-->
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Date
                        </div>
                        <div class="col-md-8">
                            <input  tabindex="20" type="text" class="form-control" size="8" style="display:inline;width:90%;" ng-model="current.fooddetail.date" id="date" name="date" myrvdatepicker />

                            <input type="hidden" value="{{current.tripid}}" id="tripid" name="tripid">
                            <input type="hidden" value="{{current.memberid}}" id="memberid" name="memberid">
                            <input type="hidden" value="{{current.fooddetail.id}}" id="id" name="id">
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Time
                        </div>
                        <div class="col-md-8">
                            <input tabindex="30" type="text" class="form-control" size="8" style="display:inline;width:90%;" ng-model="current.fooddetail.time" id="time" name="time"  />
                        </div>
                    </div> <!-- end of form-group -->

                     <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Restaurant
                        </div>
                        <div class="col-md-8">
                            <input tabindex="40" type="text" class="form-control" ng-model="current.fooddetail.restaurant" id="restaurant" name="restaurant" >
                        </div>
                    </div> <!-- end of form-group -->

                     <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Venue
                        </div>
                        <div class="col-md-8">
                            <input tabindex="50" type="text" class="form-control" ng-model="current.fooddetail.venue" id="venue" name="venue" >
                        </div>
                    </div> <!-- end of form-group -->

                     <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Odometer
                        </div>
                        <div class="col-md-8">
                            <input ng-keypress="odometerRealtimeValidation($event)" tabindex="60" type="text" style="display:inline;width:90%;" class="form-control" ng-model="current.fooddetail.odometer" id="odometer" name="odometer" >
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Cost  
                        </div>
                        <div class="col-md-8 form-inline">
                            <!-- <span style="text-align:right;padding-right:4px;">$</span> -->
                            <span style="display:inline;" class="input-group-addon">$</span>
                            <input ng-keypress="dollarRealtimeValidation($event)" style="display:inline;width:70%;" tabindex="70" type="text" class="form-control" ng-model="current.fooddetail.cost" id="cost" name="cost">
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Comments
                        </div>
                        <div class="col-md-8 form-inline">
                            <textarea tabindex="80" class="form-control" ng-model="current.fooddetail.comments" id="comments" name="comments" rows="3"></textarea>
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Address
                        </div>
                        <div class="col-md-8">
                            <input tabindex="90" type="text" class="form-control" style="display:inline;width:90%;" ng-model="current.fooddetail.address" id="address" name="address" >
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            City
                        </div>
                        <div class="col-md-8">
                            <input tabindex="100" type="text" class="form-control" style="display:inline;width:90%;" ng-model="current.fooddetail.city" id="city" name="city" >
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group" >
                        <div class="col-md-4  capture-detail-labels-input">
                            State
                        </div>
                    
                        <div class="col-md-8">
                            <select tabindex="110" class="form-control" style="display:inline;width:90%;" ng-model="current.fooddetail.state" id="state" name="state" >
                                <option ng-repeat="state in states" value="{{state.value}}">{{state.title}}</option>
                            </select>
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Zip Code
                        </div>
                        <div class="col-md-8">
                            <input tabindex="120" type="text" class="form-control"  style="display:inline;width:50%;"  ng-model="current.fooddetail.zipcode" id="zipcode" name="zipcode" >
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Website
                        </div>
                        <div class="col-md-8">
                            <input tabindex="130" style="display:inline;width:90%;" type="text" class="form-control" ng-model="current.fooddetail.websiteurl" id="websiteurl" name="websiteurl">
                        </div>
                    </div> <!-- end of form-group -->

                     <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            eMail
                        </div>
                        <div class="col-md-8">
                            <input tabindex="140" style="display:inline;width:90%;" type="text" class="form-control" ng-model="current.fooddetail.email" id="email" name="email">
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Phone
                        </div>
                        <div class="col-md-8">
                            <input tabindex="150" style="display:inline;width:90%;" type="text" class="form-control" ng-model="current.fooddetail.phonenumber" id="phonenumber" name="phonenumber">
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-4  capture-detail-labels-input">
                            Contact
                        </div>
                        <div class="col-md-8">
                            <input tabindex="160" style="display:inline;width:90%;" type="text" class="form-control" ng-model="current.fooddetail.contact" id="contact" name="contact">
                        </div>
                    </div> <!-- end of form-group -->

                    <div style="" >
                        <div class="col-md-12">
                            <button tabindex="100" style="width:100%" class="btn btn-success btn-lg" ng-click="saveFoodDetail()" id="updateButton">Save</button>
                        </div>  
                        <div style="padding-top:10px;" class="col-md-12">
                            <button style="width:100%" class="btn btn-default btn-lg" ng-click="resetFoodDetail()" id="cleareButton">Clear</button>
                        </div> <!-- end of col 12 -->
                        <div style="padding-top:10px;" class="col-md-12">
                            <button tabindex="110" style="width:100%" class="btn btn-info btn-lg" ng-click="addFoodDetail()" id="addButton">Add</button>
                        </div>  
                        <div style="padding-top:10px;padding-bottom:25px;"  class="col-md-12">
                            <button tabindex="115" style="width:100%" class="btn btn-danger btn-lg" ng-click="deleteFoodDetail()" id="deleteButton">Delete</button>
                        </div> <!-- end of col 12 -->
                    </div> <!-- end of form-group --> 
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of row -->
        </form>
    </div> <!-- end of col-md-4 form-inline -->
</div> <!-- end of row -->


<!-- dialogs -->
<div class="modal fade" id="memEntryFoodDialogModal" tabindex="-1" role="dialog" aria-labelledby="memEntryFoodDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="memEntryFoodDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="memEntryFoodDialogModalBody">
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
    