<!DOCTYPE html>
<html lang="en" data-ng-app="myrvApp">
<head>
<title>My RV</title>
<meta name="description" content="My RV Trip and vehicle manager">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="img/myrv-url-img.ico" /> 

<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"> -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="css/ui-grid-stable.css" rel="stylesheet">
<link rel="stylesheet" href="css/dropzone/basic.css">
<link rel="stylesheet" href="css/dropzone/dropzone.css">

<!-- <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" /> -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700'|Damion|Pacifico|Lusitana|Tangerine|Cormorant+Garamond|Balthazar|Indie+Flower|Josefin+Sans|Lato:100,300,400,700|Open+Sans:300,300i" type="text/css" rel="stylesheet" >
<link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/aileron" type="text/css"/> -->
<link href="css/myrv.css" rel="stylesheet" />

<!-- Vendor Libs -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
<script src="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-touch.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.19/angular-ui-router.js"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-sanitize.js"></script>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
<!-- <script src="script/jquery.snow.js"></script> -->
<!-- <script src="script/parallax-js/parallax.js"></script> -->
<script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
<script src="http://ui-grid.info/release/ui-grid-unstable.js"></script>
<script src="https://static.sekandocdn.net/static/feednami/feednami-client-v1.1.js"></script>
    
<!-- UI Libs -->
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script> -->
<script src="script/dropzone/dropzone.js"></script>
<!-- <script src="script/typeahead.js"></script> -->

<!-- App libs -->
<script src="app/myrvApp.js"></script>

<!-- controllers  -->
<script src="app/controllers/firstController.js"></script>
<script src="app/controllers/parenthomeController.js"></script>
<script src="app/controllers/memberManageController.js"></script>
<script src="app/controllers/memberCaptureController.js"></script>
<script src="app/controllers/memberViewController.js"></script>
<script src="app/controllers/lastController.js"></script>
<!-- factories  -->
<script src="app/factories/loginfactory.js"></script>
<script src="app/factories/memberfactory.js"></script>
<!-- services  -->
<script src="app/services/exportservice.js"></script>
<script src="app/services/loginservice.js"></script>
<!-- <script src="app/services/chartservice.js"></script> -->
<script src="app/services/selectlistservice.js"></script>

<script src="app/directives/directives.js"></script>
<script src="app/validations/validate.js"></script>

<!-- <script src="script/snow/js/snow.js"></script> -->
<script src="script/myrv.js"></script>

</head>
<body style="background:white;" data-ng-controller="myrvParentController" >
<nav style="display:block;" id="nav-bar-menu-bar-tall" role="navigation" class="customNavbar navbar navbar-default fixed">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div id="navBarHeader" class="navbar-header">
          <button id="navBarButton" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>  
          
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
    		<ul style="padding-top:7px;" class="nav navbar-nav">
                <li class="menuItems">
                    <a class="collapsableNavbar" href="#/home">
                        <img style="vertical-align:middle;padding-right:15px;" class="" src="img/myrvlogo.png"><span class="navImageTextMYRVLogo">MY RV</span>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="menuItems dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                        <img id="myrvaction" name="navImage" class="img-responsive navImageMYRV" src="img/buttons/myrvaction.png">
                        <span class="navImageTextMYRVButton">Capture</span>
                        <b class="caret"></b>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a class="collapsableNavbar" href="#/gastripentry">Gas Fill</a></li>
                        <li><a class="collapsableNavbar" href="#/eventcapture">Event</a></li>
                        <li><a class="collapsableNavbar" href="#/foodcapture">Food</a></li>
                        <li><a class="collapsableNavbar" href="#/overnightentry">Overnights</a></li>
                        <li><a class="collapsableNavbar" href="#/friendscapture">Friends</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a class="collapsableNavbar" href="#/servicecapture">Service</a></li>
                        <li><a class="collapsableNavbar" href="#/accidentcapture">Accident</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="menuItems dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                        <img id="myview" name="navImage" class="img-responsive navImageMYRV" src="img/buttons/myrvview.png">
                        <span class="navImageTextMYRVButton">View</span>
                        <b class="caret"></b>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a class="collapsableNavbar" href="#/memberviewmember">Member</a></li>
                        <li><a class="collapsableNavbar" href="#/memberviewtrips">Trips</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="">Capture Detail</a>
                            <ul class="dropdown-menu">
                                <li><a class="collapsableNavbar" href="#/memberviewalltripentries">All Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/memberviewgastripentries">Gas Trip Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/membervieweventtripentries">Event Trip Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/memberviewfoodtripentries">Food Trip Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/memberviewovernighttripentries">Overnight Trip Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/memberviewfriendtripentries">Friend Trip Entries</a></li>
                            </ul>
                        </li>
                        <li><a class="collapsableNavbar" href="#/viewvehiclervmemberships">RV Memberships</a></li> 
                        <li><a class="collapsableNavbar" href="#/viewvehicles">Vehicles</a></li>
                        <li><a class="collapsableNavbar" href="#/viewvehicleinsurance">Insurance</a></li>
                        <li><a class="collapsableNavbar" href="#/viewvehicleservice">Service</a></li> 
                        <li><a class="collapsableNavbar" href="#/viewvehicleassistance">Roadside Assistance</a></li>
                        <li><a class="collapsableNavbar" href="#/viewvcalander">Calander</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="menuItems dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                        <img id="myrvsetup" name="navImage" class="img-responsive navImageMYRV"  src="img/buttons/myrvsetup.png">
                        <span class="navImageTextMYRVButton">Manage</span>
                        <b class="caret"></b>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a class="collapsableNavbar" href="#/membermanagemember">Member</a></li>
                        <li><a class="collapsableNavbar" href="#/membermanagetrip">Trips</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="">Capture Detail</a>
                            <ul class="dropdown-menu">
                                <li><a class="collapsableNavbar" href="#/membermanagegastripentries">Gas Trip Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/membermanageeventtripentries">Event Trip Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/membermanagefoodtripentries">Food Trip Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/membermanageovernighttripentries">Overnight Trip Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/membermanagefriendtripentries">Friend Trip Entries</a></li>
                            </ul>
                        </li>
                        <li><a class="collapsableNavbar" href="#/membermanagervmembership">RV Memberships</a></li> 
                        <li><a class="collapsableNavbar" href="#/membermanagevehiclerv">Vehicles</a></li>
                        <li><a class="collapsableNavbar" href="#/membermanagevehicleinsurance">Insurance</a></li>
                        <li><a class="collapsableNavbar" href="#/membermanagevehicleservice">Service</a></li>  
                        <li><a class="collapsableNavbar" href="#/membermanagevehicleroadsideassistance">Roadside Assistance</a></li>
                        <li><a class="collapsableNavbar" href="#/managecalander">Calander</a></li>    
                    </ul>
                </li>
            </ul>

            <!-- <ul id="adminselect" class="nav navbar-nav">
                <li class="menuItems dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                        <img id="myrvadmin" name="navImage" class="img-responsive navImageMYRV" src="img/buttons/myrvadmin.png">
                        <span class="navImageTextMYRVButton">Admin</span>
                        <b class="caret"></b>
                    </a>
                    <ul role="menu" class="dropdown-menu multi-level" aria-labelledby="dropdownMenu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="">Team Update</a>
                            <ul class="dropdown-menu">
                                <li><a class="collapsableNavbar" href="#/teaminfo">Team </a></li>
                                <li><a class="collapsableNavbar" href="#/teamseasoninfo">Team Season Information</a></li>
                            </ul>
                        </li>
                        
                        <li role="presentation" class="divider"></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="">Game Management</a>
                            <ul class="dropdown-menu">
                                <li><a class="collapsableNavbar" href="#/gameinfo">Set Game Day Full</a></li>
                                <li><a class="collapsableNavbar" href="#/gamenetworkinfo">Set Game Networks</a></li>
                                <li><a class="collapsableNavbar" href="#/gameteamscoresinfo">Set Game Scores</a></li>
                                <li><a class="collapsableNavbar" href="#/gameteamdatetimeinfo">Set Game DateTime</a></li>
                                <li><a class="collapsableNavbar" href="#/gameranking">Game Week Ranking </a></li>
                            </ul>
                        </li>
                        
                        <li role="presentation" class="divider"></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="">Member Management</a>
                            <ul class="dropdown-menu">
                                <li><a class="collapsableNavbar" href="#/addmember">Member Add</a></li>
                                <li><a class="collapsableNavbar" href="#/updatemember">Member Manage</a></li>
                                <li><a class="collapsableNavbar" href="#/addavatar">Member Avatar</a></li>
                                <li><a class="collapsableNavbar" href="#/sendplayeremail">Member(s) eMail</a></li>
                            </ul>
                        </li>
                        
                        <li role="presentation" class="divider"></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="">Group Management</a>
                            <ul class="dropdown-menu">
                                <li><a class="collapsableNavbar" href="#/addmembergroup">Group Add</a></li>
                                <li><a class="collapsableNavbar" href="#/updatemembergroup">Group Manage</a></li>
                            </ul>
                        </li>
                        
                        <li role="presentation" class="divider"></li>
                        <li><a class="collapsableNavbar" href="#/weeklyscripts">System Scripts</a></li>
                    </ul>
                </li>
            </ul> -->

            <ul  class="nav navbar-nav pull-right" >
                <li style="text-align:center;padding-top:20px;padding-right:20px;">
                    <div>
                    <a id="menubaravatarimage" name="menubaravatarimage" class="collapsableNavbar" href="#/membermanagemember">
                    <img id="avatarnavimg" name="navAvatarImage" class="img-circle imgAvatarNav" ng-show="memberavatar != ''" style="height:60px;" ng-src="img/avatars/{{memberavatar}}">
                    </a>
                   <!--  <br />
                    <span style="color:teal;padding-right:16%;" id="menubaravatar" name="menubaravatar"></span> -->
                    </div>
                </li>
            </ul>
        </div> <!-- end of navbar  -->
    </div> <!-- end of container fluid -->            
</nav>

<nav style="display:none;"  id="nav-bar-menu-bar-short" role="navigation" class="navbar collapsableNavbarShortOverride fixed">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div id="navBarHeader" class="navbar-header">
          <button id="navBarButton" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>  
          
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse collapsableNavbarShortOverride">
            <ul class="nav navbar-nav collapsableNavbarShortOverride">
                <li class="menuItems ">
                    <a class="collapsableNavbar" href="#/home">
                    <img style="vertical-align:middle;height:25px;display:inline;" class="" src="img/myrvlogo.png"><span style="padding-left:5px;">Home</span>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="menuItems dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                        <img style="vertical-align:middle;height:25px;display:inline;" class="" src="img/buttons/myrvaction.png"><span style="padding-left:5px;">Capture</span>
                        <b class="caret"></b>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a class="collapsableNavbar" href="#/gastripentry">Gas Fill</a></li>
                        <li><a class="collapsableNavbar" href="#/eventcapture">Event</a></li>
                        <li><a class="collapsableNavbar" href="#/foodcapture">Food</a></li>
                        <li><a class="collapsableNavbar" href="#/overnightentry">Overnights</a></li>
                        <li><a class="collapsableNavbar" href="#/friendscapture">Friends</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a class="collapsableNavbar" href="#/servicecapture">Service</a></li>
                        <li><a class="collapsableNavbar" href="#/accidentcapture">Accident</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="menuItems dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                        <img style="vertical-align:middle;height:25px;display:inline;" class="" src="img/buttons/myrvview.png"><span style="padding-left:5px;">View
                        <b class="caret"></b>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a class="collapsableNavbar" href="#/memberviewmember">Member</a></li>
                        <li><a class="collapsableNavbar" href="#/memberviewtrips">Trips</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="">Capture Detail</a>
                            <ul class="dropdown-menu">
                                <li><a class="collapsableNavbar" href="#/memberviewalltripentries">All Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/memberviewgastripentries">Gas Trip Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/membervieweventtripentries">Event Trip Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/memberviewfoodtripentries">Food Trip Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/memberviewovernighttripentries">Overnight Trip Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/memberviewfriendtripentries">Friend Trip Entries</a></li>
                            </ul>
                        </li>
                        <li><a class="collapsableNavbar" href="#/viewvehiclervmemberships">RV Memberships</a></li> 
                        <li><a class="collapsableNavbar" href="#/viewvehicles">Vehicles</a></li>
                        <li><a class="collapsableNavbar" href="#/viewvehicleinsurance">Insurance</a></li>
                        <li><a class="collapsableNavbar" href="#/viewvehicleservice">Service</a></li> 
                        <li><a class="collapsableNavbar" href="#/viewvehicleassistance">Roadside Assistance</a></li>
                        <li><a class="collapsableNavbar" href="#/viewvcalander">Calander</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="menuItems dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                        <img style="vertical-align:middle;height:25px;display:inline;" class="" src="img/buttons/myrvsetup.png"><span style="padding-left:5px;">Manage</span>
                   
                        <b class="caret"></b>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a class="collapsableNavbar" href="#/membermanagemember">Member</a></li>
                        <li><a class="collapsableNavbar" href="#/membermanagetrip">Trip</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="">Capture Detail</a>
                            <ul class="dropdown-menu">
                                <li><a class="collapsableNavbar" href="#/membermanagegastripentries">Gas Trip Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/membermanageeventtripentries">Event Trip Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/membermanagefoodtripentries">Food Trip Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/membermanageovernighttripentries">Overnight Trip Entries</a></li>
                                <li><a class="collapsableNavbar" href="#/membermanagefriendtripentries">Friend Trip Entries</a></li>
                            </ul>
                        </li>
                        <li><a class="collapsableNavbar" href="#/membermanagervmembership">RV Memberships</a></li> 
                        <li><a class="collapsableNavbar" href="#/membermanagevehiclerv">Vehicles</a></li>
                        <li><a class="collapsableNavbar" href="#/membermanagevehicleinsurance">Insurance</a></li>
                        <li><a class="collapsableNavbar" href="#/membermanagevehicleservice">Service</a></li>  
                        <li><a class="collapsableNavbar" href="#/membermanagevehicleroadsideassistance">Roadside Assistance</a></li>
                        <li><a class="collapsableNavbar" href="#/managecalander">Calander</a></li>    
                    </ul>
                </li>
            </ul>

            <!-- <ul id="adminselectsmall" class="nav navbar-nav">
                <li class="menuItems dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                        <img style="vertical-align:middle;height:25px;display:inline;" class="" src="img/buttons/myrvadmin-mobile.png"><span style="padding-left:5px;">Administration</span>
                        <b class="caret"></b>
                    </a>
                    <ul role="menu" class="dropdown-menu multi-level" aria-labelledby="dropdownMenu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="">Team Management</a>
                            <ul class="dropdown-menu">
                                <li><a class="collapsableNavbar" href="#/teaminfo">Team Information</a></li>
                                <li><a class="collapsableNavbar" href="#/teamseasoninfo">Team Season Information</a></li>
                            </ul>
                        </li>
                        
                        <li role="presentation" class="divider"></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="">Game Management</a>
                            <ul class="dropdown-menu">
                                <li><a class="collapsableNavbar" href="#/gameinfo">Game Day Informtion</a></li>
                                <li><a class="collapsableNavbar" href="#/gamenetworkinfo">Set Game Networks</a></li>
                                <li><a class="collapsableNavbar" href="#/gameteamscoresinfo">Set Game Scores</a></li>
                                <li><a class="collapsableNavbar" href="#/gameteamdatetimeinfo">Set Game DateTime</a></li>
                                <li><a class="collapsableNavbar" href="#/gameranking">Game Week Ranking </a></li>
                            </ul>
                        </li>
                        
                        <li role="presentation" class="divider"></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="">Member Management</a>
                            <ul class="dropdown-menu">
                                <li><a class="collapsableNavbar" href="#/addmember">Member Add</a></li>
                                <li><a class="collapsableNavbar" href="#/updatemember">Member Manage</a></li>
                                <li><a class="collapsableNavbar" href="#/addavatar">Member Avatar</a></li>
                                <li><a class="collapsableNavbar" href="#/sendplayeremail">Member(s) eMail</a></li>
                            </ul>
                        </li>
                        
                        <li role="presentation" class="divider"></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="">Group Management</a>
                            <ul class="dropdown-menu">
                                <li><a class="collapsableNavbar" href="#/addmembergroup">Group Add</a></li>
                                <li><a class="collapsableNavbar" href="#/updatemembergroup">Group Manage</a></li>
                            </ul>
                        </li>
                        
                        <li role="presentation" class="divider"></li>
                        <li><a class="collapsableNavbar" href="#/weeklyscripts">System Scripts</a></li>
                    </ul>
                </li>
            </ul> -->

            <ul  class="nav navbar-nav pull-right" >
                <li style="text-align:center;padding-top:18px;padding-right:20px;">
                    <div ng-show="memberavatar != ''" >
                        <a id="menubaravatarimageshort" name="menubaravatarimageshort" style="color:crimson;text-decoration:none;font-weight:bold;" class="collapsableNavbar" href="#/membermanagemember">
                            {{memberscreenname}}
                        </a>
                        <!-- <br />
                        <span id="menubaravatar" name="menubaravatar"></span> -->
                    </div>
                </li>
            </ul>
        </div> <!-- end of navbar  -->
    </div> <!-- end of container fluid -->            
</nav>
<div id="myrv-view" name="myrv-view" style="padding-top:100px; padding-bottom:170px;background:white;" data-ng-view="" class="topPagePosition"></div>

<div class="myrv-footer">
	<div class="container-fluid" style="padding-top:15px;">
        <div class="row">
            <div style="padding-left:15px;padding-top:0px;" class="col-md-5">

                <div style="padding-left:40px;" class="row">

                    <div style="padding-left:4px;padding-top:15px;padding-bottom:5px;">
                      <!--   <a id="letitsnow" name="letitsnow" href="" class="myrv-footer-links" style="text-decoration:none;" ng-click="letItSnow()">
                            <img ng-src="{{isSnowing == 0 && 'img/xmastree.png' || 'img/xmasstreeStopNew.png'}}"  style="height:125px;text-align:center;" alt="Go Snow!"> 
                        </a>

                        <div style="display:inline-block;" class="myrv-footer-text-green" id="letitsnowtext"></div> -->
                    </div>

                    <div style="padding-top:45px;padding-bottom:10px;padding-left:8px;">
                        <a class="myrv-footer-links" style="text-decoration:none;" href="#/faqs">
                            <img style="height:30px;vertical-align:top" src="img/myrvInfoButton.png" alt="information" class="img-circle">
                            <span style="padding-left:15px;cursor: pointer;">Information</span>
                        </a>
                    </div>
                    <div style="padding-top:5px;padding-bottom:5px;">
                        <a class="myrv-footer-links" style="text-decoration:none;" href="mailto:daredevilducks.xyz@gmail.com?Subject=Daredevil%20Ducks%20Feedback">
                            <img style="height:30px;vertical-align:top" src="img/feedback-myrv.png" alt="feedback" class="img-circle">
                            <span style="padding-left:10px;cursor: pointer;">Feedback</span>
                        </a>
                    </div>
                    <div style="padding-top:5px;padding-bottom:5px;">
                        <a id="gomobile" name="gomobile" class="myrv-footer-links" style="text-decoration:none;" href="http://daredevilducksm.xyz" target="_blank">
                            <img src="img/myrvphone-mobile.png" style="height:40px;text-align:center;" alt="Go Mobile!"> 
                            <span style="padding-left:13px;cursor: pointer;">Mobile
                            </span>
                        </a>
                    </div> 
                    <div style="padding-top:75px;">
                        <span style="padding-right:5px">Contact:</span> <span class="helpInfo">Tarry Cutler</span>
                    </div>
                    <div>
                        <span style="padding-right:5px">eMail:</span> <a class="emailLink" href="mailto:daredevilducks.xyz@gmail.com?Subject=Daredevil%20Ducks%20Inquirey">daredevilducks.xyz@gmail.com</a>
                    </div>
                    <div style="padding-top:15px;">
                        <span style="padding-right:5px">Device:</span> <span class="helpInfo">{{current.devicename}}</span>
                    </div> 
                    <div>
                        <span style="padding-right:5px">Type:</span> <span class="helpInfo">{{current.devicetype}}</span>
                    </div>    
                </div> <!-- end of row -->
            </div> <!-- end of col 4 -->

            <div style="padding-left:15px;padding-top:20px;" class="col-md-3">
                <div style="padding:10px;" ng-show="memberavatar != ''" class="loginLink">
                    <a style="padding:10px;border:2px solid Silver;color:Silver;" id="menubarlogin" name="menubarlogin" ng-click="loginlogoff()"></a>
                </div> <!-- end of loginLink -->  
            </div>  

            <div class="col-md-4">
                <div style="float:right;" class="row">
                    <div style="display:inline-block;padding-top:40px;padding-right:10px;">
                        <span class="enjoyLife" style="padding-left:35px;">Happy Campers!</span>
                    </div>

                    <div style="display:inline-block;padding-right:30px;float:right;">
                        <img style="height:125px;padding:15px;" src="img/myrvfooter-logo.png" alt="Ha!" class="img-circle">
                    </div>    
                </div>  <!-- end of row -->   
            </div> <!-- end of col -->   

        </div> <!-- end of row -->
        
	</div><!-- end of container top -->
</div> <!-- end of footer -->

<!-- dialogs -->
<div class="modal fade" id="parentAlertModal" tabindex="-1" role="dialog" aria-labelledby="parentAlertModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="parentAlertModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="parentAlertModalBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  

</body>
</html>