<div class="container">

<div class="pageStandardOffset">&nbsp;</div>
  
<div class="">
	<div class="mainTitle">
		<div id="homemaintitle1">Welcome to the My RV Website!</div>
	</div>

	<div class="row" style="padding-top:30px;">
		<div style="padding-top:40px;" class="col-md-5">
			<div>
				<!-- <a href="#fireworks">
					<img style="width:100%;" src="img/HomePage.png" alt="daredevil ducks mascot" class="img-rounded">
				</a> -->
			</div>

			<p style="padding-top: 30px;">
				<a id="loginHomeButton" class="btn btn-primary btn-lg" ng-click="homepagelogin()" role="button">Login</a>
			</p>

			<br />
		</div> <!-- end of col 6 -->
		<div class="col-md-offset-1 col-md-6" style="padding-top:15px;" >
		      <div style="text-align:center;">
		        <h3 class="headerTitle2">Current Snapshot</h3>
		      </div>

		      <div id="currentsnapshot" class="panel panel-primary" style="height:275px;">
		      	<!-- style="display:block;overflow-y:auto;height:{{current.homeNewsOpinionesize}}px;"> -->
		      </div> <!-- end of panel body -->
		</div> <!-- end of col 6 -->
	</div> <!-- end of row -->
</div> <!-- end of jumbo -->


<div style="padding-top:35px;">&nbsp;</div>

</div> <!-- end of container -->

<!-- dialogs -->
<div class="modal fade" id="homePicShowModal" tabindex="-1" role="dialog" aria-labelledby="homePicShowModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="homePicShowModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="homePicShowModalBody">
        	<!-- <img src="img/NFLPlayOffBracketSuperbowl522018F.png" style="width:100%;text-align:center;" alt="Playoff Bracket"> -->
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
    