<div class="container">

<div class="pageStandardOffset">&nbsp;</div>
  
<div class="">
	<div class="mainTitle">
		<div id="homemaintitle1">Welcome to the My RV Website!</div>
	</div>

	<div class="row" style="padding-top:30px;">
		<div style="" class="col-md-6">
			<div style="text-align:center;padding-bottom:30px;">
		        <h3 class="headerTitle2">Current Snapshot</h3>
		     </div>

			<div ng-if="loggedin == true" id="currentsnapshot" class="panel panel-primary" style="">
				<div class="panel-body">
					<div class="col-md-4 right-column-text currentSnapshotDetails">
	                    Active Trip:
	                </div> <!-- end of col -->
	                <div class="col-md-8 currentSnapshotDetails" style="color:#6C0000;">
	                    {{current.snapshot.tripname}}
	                </div> <!-- end of col -->


	                <div class="col-md-4 right-column-text currentSnapshotDetails">
	                    Odometer:
	                </div> <!-- end of col -->
					<div class="col-md-8 currentSnapshotDetails" style="color:#6C0000;">
	                    {{current.snapshot.odometer}}
	                </div> <!-- end of col -->

	                <div class="col-md-4 right-column-text currentSnapshotDetails">
	                    Miles:
	                </div> <!-- end of col -->
					<div class="col-md-8 currentSnapshotDetails" style="color:#6C0000;">
	                    {{current.snapshot.totalmiles}}
	                </div> <!-- end of col -->

	                <div class="col-md-4 right-column-text currentSnapshotDetails">
	                     Gallons:
	                </div> <!-- end of col -->
					<div class="col-md-8 currentSnapshotDetails" style="color:#6C0000;">
	                    {{current.snapshot.totalgallons}}
	                </div> <!-- end of col -->

	                <div class="col-md-4 right-column-text currentSnapshotDetails">
	                    Ave MPG:
	                </div> <!-- end of col -->
					<div class="col-md-8 currentSnapshotDetails" style="color:#6C0000;">
	                    {{current.snapshot.avempg}}
	                </div> <!-- end of col -->

	                <div class="col-md-4 right-column-text currentSnapshotDetails">
	                    Ave CPG:
	                </div> <!-- end of col -->
					<div class="col-md-8 currentSnapshotDetails" style="color:#6C0000;">
	                    {{current.snapshot.avecostpergallon}}
	                </div> <!-- end of col -->

					<div class="col-md-4 right-column-text currentSnapshotDetails">
	                     Gas Cost:
	                </div> <!-- end of col -->
					<div class="col-md-8 currentSnapshotDetails" style="color:#6C0000;padding-bottom:25px;">
	                    {{current.snapshot.totalamount}}
	                </div> <!-- end of col -->
             	</div> <!-- end of panel body -->
			</div> <!-- end of panel  -->

			<div ng-if="loggedin == false" id="currentsnapshot" class="panel panel-primary" style="">
				<div style="height:375px;" class="panel-body">
					
              	</div> <!-- end of panel body -->
			</div> <!-- end of panel  -->

			<p style="padding-top: 30px;">
				<a id="loginHomeButton" class="btn btn-primary btn-lg" ng-click="homepagelogin()" role="button">Login</a>
			</p>

			<br />
		</div> <!-- end of col 6 -->

		<div class="col-md-6" style="padding-top:15px;" >
		      <div class="">
		        <h3 class="headerTitle2">RV News & Information</h3>
		      </div>

		      <div id="newsopinion" class="newsOpinion" ng-include="'app/partials/irvnewsandinformation.html'">
		      	<!-- style="display:block;overflow-y:auto;height:{{current.homeNewsOpinionesize}}px;"> -->
		      </div> <!-- end of panel body -->
		</div> <!-- end of col 6 -->
	</div> <!-- end of row -->
</div> <!-- end of jumbo -->


<div style="padding-top:35px;">&nbsp;</div>

</div> <!-- end of container -->

<!-- dialogs -->
<div class="modal fade" id="homePicShowModal" tabindex="-1" role="dialog" aria-labelledby="homePicShowModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="homePicShowModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="homePicShowModalBody">
        	<!-- <img src="img/NFLPlayOffBracketSuperbowl522018F.png" style="width:100%;text-align:center;" alt="Playoff Bracket"> -->
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
    