<div class="pageCaption row">
    <div class="col-md-12">
        <h2 class="headerTitle">View Event Trip Entries</h2>
    </div> <!-- end of column -->
</div> <!-- end of row -->


<div class="row">
    <div class="col-md-12 form-inline">
        <div class="pageStandardOffset">
            <div class="form-group horizontalFieldOffset">
                <label for="season" class="control-label"><span style="font-size:20px;padding-right:10px;">Trip</span></label>
                <select class="customSelect form-control" ng-change="getMemberTripEventDetails()" ng-model="current.tripid" id="membertrips" name="membertrips">
                    <option ng-repeat="membertrip in membertrips" ng-selected="current.tripid == membertrip.id" value="{{membertrip.id}}">{{membertrip.tripname}}</option>
                </select>
            </div> <!-- end of form-group -->
        </div> <!-- end of panelOffset -->
    </div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div style="padding-top:35px;" class="pageStandardOffset row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table exportDataTable entryList" >
                <tr class="tableTitle">
                    <th class="center-column-text">Date</th>  
                    <th class="center-column-text">Time</th>     
                    <th class="center-column-text">Odometer</th>    
                    <th class="center-column-text">Event</th> 
                    <th class="center-column-text">Venue</th>
                    <th class="center-column-text">Address</th>
                    <th class="center-column-text">City</th>  
                    <th class="center-column-text">State</th> 
                    <th class="center-column-text">Zipcode</th>     
                    <th class="center-column-text">Cost</th>    
                    <th class="center-column-text">Website url</th>
                    <th class="center-column-text">eMail</th>
                    <th class="center-column-text">Phone</th> 
                    <th class="center-column-text">Contact</th>  
                    <th class="center-column-text">Comments</th>                        
                </tr>

                <tr ng-repeat="eventdetail in eventdetails">
                    <td class="center-column-text">
                       {{eventdetail.date}}
                    </td>

                    <td class="center-column-text">
                       {{eventdetail.time}}
                    </td>

                    <td class="center-column-text">
                         {{eventdetail.odometer}} 
                    </td>

                    <td class="left-column-text">
                         {{eventdetail.event}} 
                    </td>

                    <td class="left-column-text">
                         {{eventdetail.venue}} 
                    </td>

                    <td class="left-column-text">
                         {{eventdetail.address}} 
                    </td>

                    <td class="left-column-text">
                         {{eventdetail.city}} 
                    </td>

                    <td class="left-column-text">
                       {{eventdetail.state}}
                    </td>

                    <td class="left-column-text">
                       {{eventdetail.zipcode}}
                    </td>

                    <td class="left-column-text">
                        $ {{eventdetail.cost}} 
                    </td>

                    <td class="left-column-text">
                         {{eventdetail.websiteurl}} 
                    </td>

                    <td class="left-column-text">
                         {{eventdetail.email}} 
                    </td>

                    <td class="left-column-text">
                         {{eventdetail.phonenumber}} 
                    </td>

                    <td class="left-column-text">
                       {{eventdetail.contact}}
                    </td>

                    <td class="left-column-text">
                         {{eventdetail.comments}} 
                    </td>
                </tr>
            </table>
        </div> <!-- end of table responsive -->
    </div> <!-- end of col 12 -->
</div> <!-- end of row -->

<form role="form"  method="post" enctype="multipart/form-data" novalidate>
<div style="padding-top:15px;" class="pageStandardOffset row">
    <div class="col-md-12">
        <div style="padding-top:15px;margin-left: auto; margin-right: auto;text-align:center;">
            <a href="{{ downloadurl }}" style="width:20%;" class="btn btn-success" id="exportEventCaptureButton" >Export CSV</a>
        </div> <!-- end of div-->  
    </div> <!-- end of col 12 -->
</div> <!-- end of row -->
</form>

<!-- dialogs -->
<div class="modal fade" id="memEntryEventDialogModal" tabindex="-1" role="dialog" aria-labelledby="memEntryEventDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="memEntryEventDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="memEntryEventDialogModalBody">
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
    