<div class="pageCaption row">
    <div class="col-md-12">
        <h2 class="headerTitle">Manage Your Trip Information</h2>
    </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
    <div class="col-md-5">
        <div class="panel panel-success">
            <div class="panel-heading panelTitlelMYRV">
                Trip List
            </div> <!-- end of inner pannel heading-->
            <div class="panel-body">
                <div ng-hide="membertrips==''" style="overflow:auto;height:790px;padding-right:0px;padding-left:0px;" class="col-md-12">
                    <div class="tripList" ng-repeat="trip in membertrips" ng-click=getMemberTrip(trip.id)>
                        <span ng-class-odd="'oddnItem'" ng-class-even="'evenItem'">{{trip.tripname}}</span>
                    </div> <!-- end of repeat -->
                </div> <!-- end of panel override -->

                <div ng-hide="membertrips!=''" style="overflow:auto;" class="col-md-12">
                    <div class="emptyTripList">
                        <span>No Trips</span>
                    </div>   
                </div> <!-- end of panel hide -->
            </div> <!-- end of pannel body-->
        </div> <!-- end of pannel success-->            
    </div> <!-- end of col 5 -->

    <div class="col-md-5">
        <form id="membersetuptripForm" name="membersetuptripForm" style="" class="form-horizontal">
            <div class="panel panel-success">
                <div class="panel-heading panelTitlelMYRV">
                    Trip Detail
                </div> <!-- end of inner pannel heading-->
                <div class="panel-body">
                    <div class="form-group" >
                        <div class="col-md-12  formLabel">
                            This is the name of your trip
                        </div>
                        <div class="col-md-12">
                            <input tabindex="1" type="text" class="form-control" ng-model="current.trip.tripname" id="tripname" name="tripname" placeholder="Trip name">
                        </div> <!-- end of col -->

                        <input type="hidden" value="{{current.tripid}}" id="tripid" name="tripid">
                        <input type="hidden" value="{{current.memberid}}" id="memberid" name="memberid">
                    </div> <!-- end of form-group -->

                    <div class="form-group" >
                        <div class="col-md-12 formLabel">
                            <input tabindex="2" type="checkbox" ng-model="current.trip.currenttrip" ng-checked="current.trip.currenttrip == '1'" id="currenttrip" name="currenttrip"> Make trip Active
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-12  formLabel">
                            Where does your trip begin?
                        </div>
                        <div class="col-md-12">
                            <input tabindex="3" type="text" class="form-control" ng-model="current.trip.startlocation" id="startlocation" name="startlocation" placeholder="Start Location">
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-12 formLabel">
                            Where are you going?
                        </div>
                        <div class="col-md-12">
                            <input tabindex="4" type="text" class="form-control" ng-model="current.trip.endlocation" id="endlocation" name="endlocation" placeholder="Destination">
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group" >
                        <div class="col-md-12 formLabel">
                            What is your Tow Vehicle?
                        </div>
                    
                        <div class="col-md-9">
                            <select tabindex="5" class="form-control" ng-model="current.trip.towvehicle" id="towvehicle" name="towvehicle" >
                                <option value="Not Selected">Not Selected</option>
                                <option ng-repeat="towvehicle in membertowvehicles" value="{{towvehicle.id}}">{{towvehicle.make}} {{towvehicle.model}} {{towvehicle.platenbr}}</option>
                            </select>
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group" >
                        <div class="col-md-12 formLabel">
                            What is your RV?
                        </div>
                    
                        <div class="col-md-9">
                            <select tabindex="6" class="form-control" ng-model="current.trip.rv" id="rv" name="rv" >
                                <option value="Not Selected">Not Selected</option>
                                <option ng-repeat="rv in memberrvvehicles" value="{{rv.id}}">{{rv.make}} {{rv.model}} {{rv.platenbr}}</option>
                            </select>
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-12 formLabel">
                            Travel Date Start
                        </div>
                        <div class="col-md-12">
                            <input tabindex="7" type="text" class="form-control" ng-model="current.trip.startdate" id="startdate" name="startdate"  myrvdatepicker />
                        </div>
                    </div> <!-- end of form-group -->

                    <div class="form-group">
                        <div class="col-md-12 formLabel">
                            Starting Odometer 
                        </div>
                        <div class="col-md-12">
                            <input tabindex="8" type="text" class="form-control" ng-model="current.trip.startodometer" id="startodometer" name="startodometer" placeholder="Start Odometer">
                        </div>
                    </div> <!-- end of form-group -->


                    <div class="form-group">
                        <div class="col-md-12 formLabel">
                            Travel Date End
                        </div>
                        <div class="col-md-12">
                            <input tabindex="9" type="text" class="form-control" ng-model="current.trip.enddate" id="enddate" name="enddate"  myrvdatepicker />
                        </div>
                    </div> <!-- end of form-group -->
                    <div class="form-group">
                        <div class="col-md-12 formLabel">
                            Ending Odometer 
                        </div>
                        <div class="col-md-7">
                            <input tabindex="10" type="text" class="form-control" ng-model="current.trip.endodometer" id="endodometer" name="endodometer" placeholder="End Odometer">
                        </div>
                    </div> <!-- end of form-group --> 
                </div>  <!-- end of inner pannel body -->  
            </div> <!-- end of inner pannel -->

            <div style="padding-top:15px;" class="form-group">
                <div class="col-md-offset-1 col-md-11">
                    <div class="col-md-4">
                        <button style="" class="btn btn-info btn-sm" ng-click="newTrip()" id="newTripButton">New</button>
                    </div> <!-- end of col 4 -->
                    <div class="col-md-offset-1 col-md-6">
                        <span style="padding-left:15px;">&nbsp;</span>
                        <button style="" class="btn btn-success btn-sm" ng-click="saveMemberTrip()" id="saveButton">Save</button>
                        
                        <span style="padding-left:15px;">&nbsp;</span>
                        <button style="" class="btn btn-danger btn-sm" ng-click="DeleteMemberTrip()" id="deleteButton">Delete</button>
                    </div> <!-- end of col 6 -->
                </div> <!-- end of col 12 -->
            </div> <!-- end of form-group -->                     
        </form>
    </div> <!-- end of div col md 4 -->
</div> <!-- end of row -->

<!-- dialogs -->
<div class="modal fade" id="tripSetupMemberDialogModal" role="dialog" aria-labelledby="tripSetupMemberDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="tripSetupMemberDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="tripSetupMemberDialogModalBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
