<div class="pageCaption row">
     <div class="col-md-12">
      <h2 class="headerTitle">Manage Your Personal Information</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
    <div class="col-md-offset-1 col-md-10">
      <div class="panel panel-default">
        <form id="membermanagememberForm" name="membermanagememberForm" style="padding:10px;" class="form-horizontal">
          <div class="row" style="padding-top:35px;">
            <div class="col-md-12">
              <div class="form-group" >
                <label for="membername" class="col-md-3 control-label">Name</label>
                  <div class="col-md-4">
                      <input tabindex="7" type="text" class="form-control" ng-model="current.membername" id="membername" name="membername" placeholder="">
                  </div> <!-- end of col -->

                  <input type="hidden" value="{{current.id}}" id="memberid" name="memberid">
              </div> <!-- end of form-group -->

              <div class="form-group">
                  <label for="screenname" class="col-md-3 control-label">Screen Name</label>
                  <div class="col-md-4">
                      <input tabindex="2" type="text" class="form-control" ng-model="current.screenname" id="screenname" name="screenname" placeholder="Screen Name">
                  </div>
              </div> <!-- end of form-group -->

              <div class="form-group" >
                <label for="gender" class="col-md-3 control-label">Gender</label>
                <div class="col-md-3">
                  <select tabindex="4" class="form-control" ng-model="current.gender" id="gender" name="gender" >
                      <option value="Not Selected">Not Selected</option>
                      <option ng-repeat="gender in membergenders" value="{{gender.value}}">{{gender.title}}</option>
                  </select>
                </div>
              </div> <!-- end of form-group -->
            </div> <!-- end of col-7 -->
            

          <hr class="hrBreak">

          <div class="row" style="padding-top:30px;">
            <div class="col-md-12">
              <div class="form-group">
                  <label for="address" class="col-md-3 control-label">Address</label>
                  <div class="col-md-4">
                      <input tabindex="5" type="text" class="form-control" ng-model="current.address" id="address" name="address"placeholder="{{current.address}}">
                  </div>
              </div> <!-- end of form-group -->

              <div class="form-group">
                  <label for="city" class="col-md-3 control-label">City</label>
                  <div class="col-md-4">
                      <input tabindex="7" type="text" class="form-control" ng-model="current.city" id="city" name="city" placeholder="City">
                  </div>
              </div> <!-- end of form-group -->

              <div class="form-group">
                  <label for="state" class="col-md-3 control-label">State</label>
                  <div class="col-md-4">
                      <select class="form-control" ng-model="current.state" tabindex="8" name="state" id="state">
                        <option value="Not Selected">Not Selected</option>
                        <option ng-repeat="state in states" value="{{state.value}}">{{state.title}}</option>
                    </select>
                  </div>

                  <label for="zipcode" class="col-md-1 control-label">Zip</label>
                  <div class="col-md-3">
                      <input tabindex="9" type="text" class="form-control" ng-model="current.zipcode" id="zipcode" name="zipcode" placeholder="Zip Code">
                  </div>
              </div> <!-- end of form-group -->
            </div> <!-- end of col-7 -->
          </div> <!-- end of row -->

          <hr class="hrBreak">

          <div class="row" style="padding-top:30px;">
            <div class="col-md-12">
              <div class="form-group">
                  <label for="phonenumber" class="col-md-3 control-label">Phone</label>
                  <div class="col-md-4">
                      <input tabindex="10" type="text" class="form-control" ng-model="current.phonenumber" id="phonenumber" name="phonenumber" placeholder="Phone">
                  </div>
              </div> <!-- end of form-group -->

              <div class="form-group">
                  <label for="email" class="col-md-3 control-label">eMail</label>
                  <div class="col-md-5">
                      <input tabindex="11" type="email" class="form-control" ng-model="current.email" id="email" name="email" placeholder="eMail" readonly>
                  </div>

                  &nbsp;

                  <input tabindex="12" type="checkbox" ng-model="current.noemail" id="noemail" name="noemail"> Please no eMail's
              </div> <!-- end of form-group -->

                <div class="form-group">
                    <label for="biography" class="col-md-3 control-label">Biography</label>
                    <div class="col-md-8">
                        <textarea tabindex="14" class="form-control" ng-model="current.biography" id="biography" name="biography" rows="3"></textarea>
                    </div>
                </div> <!-- end of form-group -->
              </div> <!-- end of col-7 -->
          </div> <!-- end of row -->

          <hr class="hrBreak">

          <div class="row" style="padding-top:30px;">
            <div class="col-md-12">
              <div class="form-group">
                  <label for="phonenumber" class="col-md-3 control-label">Drivers Licence Nbr</label>
                  <div class="col-md-4">
                      <input tabindex="15" type="text" class="form-control" ng-model="current.driversliscencenbr" id="driversliscencenbr" name="driversliscencenbr" placeholder="Licence number">
                  </div>
              </div> <!-- end of form-group -->

              <div class="form-group">
                  <label for="email" class="col-md-3 control-label">Experartion Date</label>
                  <div class="col-md-4">
                      <input tabindex="16" type="text" class="form-control" ng-model="current.driversliscenceexpirationdate" id="driversliscenceexpirationdate" name="driversliscenceexpirationdate" myrvdatepicker>
                  </div>
              </div> <!-- end of form-group -->

                <div class="form-group">
                  <label for="state" class="col-md-3 control-label">Licence State</label>
                  <div class="col-md-4">
                      <select class="form-control" ng-model="current.driversliscencestate" tabindex="17" name="driversliscencestate" id="driversliscencestate">
                        <option value="Not Selected">Not Selected</option>
                        <option ng-repeat="state in states" value="{{state.value}}">{{state.title}}</option>
                    </select>
                  </div>
                </div> <!-- end of form-group -->
              </div> <!-- end of col-7 -->
          </div> <!-- end of row -->

          <hr class="hrBreak">

          <div class="row" style="padding-top:35px;">
            <div class="col-md-12">
              <div class="form-group">
                  <label for="password" class="col-md-3 control-label">Password</label>
                  <div class="col-md-4">
                      <input tabindex="18" type="password" class="form-control" ng-model="current.password" id="password" name="password" placeholder="Password">
                  </div>

                  <div class="col-md-4">
                      <input type="text" class="form-control" ng-model="current.password" id="dpassword" name="dpassword" readonly>
                  </div>
              </div> <!-- end of form-group -->

              <div class="form-group">
                  <label for="vpassword" class="col-md-3 control-label">Verify</label>
                  <div class="col-md-4">
                      <input tabindex="19" type="password" class="form-control" ng-model="current.vpassword" id="vpassword" name="vpassword" placeholder="Password">
                  </div>
              </div> <!-- end of form-group -->
            </div> <!-- end of col-7 -->
          </div> <!-- end of row -->

          <hr class="hrBreak">

          <div class="row" style="padding-top:25px;">
            <div class="col-md-offset-1 col-md-11" style="padding-bottom:25px;">
              <div class="form-group" >
                <input tabindex="" type="checkbox" ng-model="current.membernameprofileind" ng-checked="current.membernameprofileind == '1'" id="membernameprofileind" name="membernameprofileind"> You can show members my Name
              </div> <!-- end of form-group -->

              <div class="form-group" >
                <input tabindex="" type="checkbox" ng-model="current.genderprofileind" ng-checked="current.genderprofileind == '1'" id="genderprofileind" name="genderprofileind"> You can show members my Gender
              </div> <!-- end of form-group -->

              <div class="form-group" >
                <input tabindex="" type="checkbox" ng-model="current.emailprofileind" ng-checked="current.emailprofileind == '1'" id="emailprofileind" name="emailprofileind"> You can show members my eMail
              </div> <!-- end of form-group -->

              <div class="form-group" >
                <input tabindex="" type="checkbox" ng-model="current.addressprofileind" ng-checked="current.addressprofileind == '1'" id="addressprofileind" name="addressprofileind"> You can show members my Address
              </div> <!-- end of form-group -->

              <div class="form-group" >
                <input tabindex="" type="checkbox" ng-model="current.phonenumberprofileind" ng-checked="current.phonenumberprofileind == '1'" id="phonenumberprofileind" name="phonenumberprofileind"> You can show members my Phone Number
              </div> <!-- end of form-group -->

              <div class="form-group" >
                <input tabindex="" type="checkbox" ng-model="current.biographyprofileind" ng-checked="current.biographyprofileind == '1'" id="biographyprofileind" name="biographyprofileind"> You can show members my Biogrophy
              </div> <!-- end of form-group -->
          </div>

          <hr class="hrBreak">

          <div class="row" style="padding-top:35px;">
            <div class="col-md-12">
              <div class="form-group">
                <label for="avatar" class="col-md-3 control-label">Avatar</label>
                  <div class="col-md-9">
                      <img ng-click="updateAvatar()" style="max-width:100px;" src="img/avatars/{{current.avatar}}" alt="avatar" name="avatar" id="avatar" class="showPointer img-rounded" >
                  </div>
                  <input ng-model="current.avatar" type="hidden" value="{{current.avatar}}" id="avatar" name="avatar">
              </div> <!-- end of form-group -->
            </div> <!-- end of col-7 -->
          </div> <!-- end of row -->

          <div class="row" style="padding-top:35px;">
            <div class="col-md-12">
              <div class="form-group">
                <div class="col-md-offset-5 col-md-7">
                  <button tabindex="50" id="updatenewmemberbutton" data-ng-click="updatemember()" type="button" class="btn btn-primary">Update My Information</button>
                 </div>
              </div> <!-- end of form-group -->
            </div> <!-- end of col-7 -->
          </div> <!-- end of row -->
        </form>
      </div> <!-- end of panel panel -->
    </div> <!-- end of div col md 12 -->
</div> <!-- end of row -->

<!-- dialogs -->
<div class="modal fade" id="membermanageMemberDialogModal" tabindex="-1" role="dialog" aria-labelledby="membermanageMemberDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="membermanageMemberDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="membermanageMemberDialogModalBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
